<div class="row inner">

    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

        <article class="postPage">


            <div class="col-md-12 post_media">

                <div class="post-format-icon">
                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                </div>

                <div class="media">
                    <div class="he-wrap tpl2">
                        <img src="images/blog/blog-2.jpg" class="img-hover" alt="">
                    </div>

                </div>
            </div>

            <div class="title_content">
                <div class="text_content">Optimizing C code for parallel compiler</div>
                <div class="clear"></div>
            </div>


            <p class="caps">Proposing a semi-automated code refactor, which can: (1) Visualize code dependencies; and (2) Suggest evaluation metrics for parallelism</p>

            <div class="col-md-12 first">
                <div class="info">
                    <div>
                        <span class="tag">#C</span>
                        <span class="tag">#ANTLR</span>
                    </div>


                    <ul class="info-post">
                        <li><i class="glyphicon glyphicon-time"></i> April, 2018</li>
                        <li><i class="glyphicon glyphicon-user"></i> with GAIO company</li>
                        <li><i class="glyphicon glyphicon-tag"></i> C, ANTLR</li>
                    </ul>
                </div>

                <div class="clear"></div>      

                <div class="col-md-12" style="margin-top: 20px;">
                    <a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a href="#blog" id="blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                </div>

                <div class="clear"></div>

        </article>
    </div>
    <div class="clear"></div>
</div>