<div class="row inner">

    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

        <article class="postPage">

            <div class="col-md-12 post_media">

                <div class="post-format-icon">
                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                </div>

            </div>

            <div class="title_content">
                <div class="text_content">Checking the consistency of method names</div>
                <div class="clear"></div>
            </div>


            <p class="caps">Proposing an approach for Method Name Consistency Checking, which can: (1) Generate the candidate name for a given method; (2) Detect the consistency between the method’s name and its implementation functionality</p>

            <p>To detect such inconsistency, it first generates the candidate name and then compares thecurrent method name against that candidate. The more similar the more consistent they are.An inferred method name could be used for suggesting to replace the name of an inconsistentmethod, or to be used as the name of an un-named-yet method at the first place.</p>

            <div class="col-md-12 first">
                <div class="info">
                    <div>
                        <span class="tag">#python</span>
                        <span class="tag">#machine learning</span>
                    </div>


                    <ul class="info-post">
                       <li><i class="glyphicon glyphicon-time"></i> October, 2018</li>
                        <li><i class="glyphicon glyphicon-user"></i> with UT Dallas, USA</li>
                        <li><i class="glyphicon glyphicon-tag"></i> python, machine learning</li>
                    </ul>
                </div>

                <div class="clear"></div>      

                <div class="col-md-12"  style="margin-top: 20px;">
                    <a href="#post-3" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="#post-1" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                </div>

                <div class="clear"></div>

        </article>
    </div>
    <div class="clear"></div>
</div>